.card {
  min-width: 30%;
  text-align: center;
  padding: 10px;
  border-right: 1px solid #d9d9d9;
}
.card hr{
    border: none;
    background-color: #d9d9d9;
    height: 1px;
    color: #d9d9d9;
}

.card h2 {
  font-size: 22px;
  font-weight: 500;
  color: #323232;
  margin-bottom: 20px;
}
.card h3 {
  font-size: 18px;
  font-weight: 400;
  color: #494949;
  margin: 10px 0;
}
.card h4 {
  font-size: 13px;
  font-weight: 400;
  color: #494949;
}
.card button {
  background-color: #193aa3;
  color: #fff;
  outline: none;
  border: none;
  font-size: 10px;
  padding: 5px;
  margin: 10px 0;
  width: 85%;
  border-radius: 5px;
}
.card p {
  font-size: 10px;
  color: #aa4743;
}
@media only screen and (max-width: 768px) {
  .card {
    min-width: 100% !important;
  }
}
